.paginator {
    display: flex;
    flex-direction: row;
}

.notSelected {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    background-color: blue;
    color: snow;
    border-radius: 3px;
}

.notSelected:hover {
    opacity: 0.5;
}

.paginationArrows {
    margin: 0 3px;
    width: 70px;
    border-radius: 3px;
    background-color: #2f2f65;
    height: 30px;
    border: none;
    color: #edf1ff;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedPage {
    background-color: #edf1ff;
    border: 1px solid blue;
    cursor: pointer;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    color: blue;
    border-radius: 3px;
}

.paginationWrapper {
    display: flex;
}