.confirmationWrapper {
    text-align: center;
    font-size: 12px;
    color: #c7c6c6;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.9);
    width: 150px;
    height: 80px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: -160px;
    top: -22px;
}

.btnWrapper {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
