.HeaderWrapper {
    padding: 0 0 20px 20px;

    background-color: #323232;
    width: 100%;
    min-height: 150px;
    color: orange;
}

.headerMenu{
    display: flex;
    justify-content: space-between;
}

.cartDisabledMode {
    pointer-events: none;
    opacity: 0.4;
}