.cartItemWrapper {
    padding: 10px 0 10px 10px;
    display: flex;
}

.cartItemDataStyles {
    margin-left: 15px;
    background-color: #f1efef;
    padding: 10px;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.cartItemPicWrapper {
    display: flex;
    align-items: center;
}

.itemPic {
    width: 200px;
}

.cartOptions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*position: relative;*/
}

.rmImageWrapper {
    background-color: #323232;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
}

.rmImageWrapper:hover {
    opacity: 0.5;
}

.rmImageStyle {
    width: 17px;
}

.cartTitle {
    width: 100%;
}

.cartQuantity {
    width: 100%;
    display: flex;
}

.arrowStyles {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.arrowStyles:hover {
    border: 1px solid black;
    opacity: 0.5;
}

.cartCategory {
    width: 100%;
}

.cartRating {
    width: 100%;
}

.quantityHandler {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cartDescription {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: flex-end;
}
